* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212121;
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
}

.absolute {
    position: absolute;
}
